<nav class="navbar navbar-dark bg-primary">
  <div class="container">
  <div class="navbar_header">
    <%=link_to "CryptoPortfolio", root_path, class: "navbar-brand" %>
    <%=link_to "Om denne side", home_about_path, class: "navbar-brand" %>
</div>
</div>
</nav>