<h1>Om denne side</h1>
<h3> Holder styr på progress </h3> <br>


10/08/21 Bygge ny app "Cryptocurrency app"<br>
10/08/21 Starte git og github<br>
10/08/21 Afinstallere bootstrap 3.4 for at erstatte den med 5.0 <br>
11/08/21 Installere Bootstrap 5.0 i navbar, for at se om det virker, det gør det!<br>
 <br>


